<nav class="navbar navbar-default">
  <div class="container-fluid">
    {{navbar-header}}

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        {{#if isAuthenticated}}
        <li>{{#link-to "users"}}Users{{/link-to}}</li>
        <li>{{#link-to "festivals"}}Festivals{{/link-to}}</li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if isAuthenticated}}
        <li>{{#link-to "change-password"}}Change Password{{/link-to}}</li>
        <li><a href="#" {{action "signOut"}}>Sign Out</a></li>
        {{else}}
        <li>{{#link-to "sign-up"}}Sign Up{{/link-to}}</li>
        <li>{{#link-to "sign-in"}}Sign In{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<div class='background-div'>
  {{#if isAuthenticated}}
  <h1 class='static-title'>Festival Fanatic!</h1>
  <h3 class=intro-text>Now that Your signed in, lets get down to business</h3>



  {{else}}
  <h1 class='static-title'>Welcome to Festival Fanatic!</h1>
  <h3 class='intro-text'>Festival Fanatic Wants To Help Shape Your Experiences with the Wonderful World of Music Festivals!</h3>


  {{/if}}


  {{#each flashMessages.queue as |flash|}}
    {{flash-message flash=flash}}
  {{/each}}

  <div class="col-md-8 col-md-offset-2">
    {{outlet}}
  </div>
</div>
