<nav class="navbar navbar-default">
  <div class="container-fluid">
    {{navbar-header}}

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        {{#if isAuthenticated}}
        <li>{{#link-to "users"}}Users{{/link-to}}</li>
        <li>{{#link-to "festivals"}}Festivals{{/link-to}}</li>
        <li>{{#link-to 'festivals/new'}}Add Festival{{/link-to}}</li>
        <li>{{#link-to 'festivals/mine'}}My Festivals{{/link-to}}</li>
        {{else}}
        <li>{{#link-to "festivals"}}Festivals{{/link-to}}</li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if isAuthenticated}}
        <li>{{#link-to "change-password"}}Change Password{{/link-to}}</li>
        <li><a href="#" {{action "signOut"}}>Sign Out</a></li>
        {{else}}
        <li>{{#link-to "sign-up"}}Sign Up{{/link-to}}</li>
        <li>{{#link-to "sign-in"}}Sign In{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

{{#if isAuthenticated}}
  {{!-- <div class='static-title-div'>
    <h2 class='static-title'>Festival Fanatic</h2>

    {{#if isAuthenticated}}
      <div>
        {{#link-to 'festivals/new'}}
          <button class='btn btn-primary post-festival-btn'>Click Here to Add a Festival</button>
        {{/link-to}}
      </div>
    {{/if}}
  </div> --}}

{{else}}
<div class='welcome-info'>
  Hello and Welcome to Festival Fanatic!<br>
  <div class='sub-welcome-info'>
    Festival Fanatic is an application used track your experiences with events that you've already been to and plan ahead for upcoming events.<br><br>
    While you don't HAVE to sign-in to view others' festival experiences, if you'd like to use Festival Fanatic to it's full potential, you have to create an account and sign in!  <br>
      {{#link-to "sign-up"}}Click Here to Get Started if this is your first time on Festival Fanatic!{{/link-to}}<br>
      {{#link-to "sign-in"}}Click Here to sign back in if you've been on Festival Fanatic before!{{/link-to}}
  </div>
</div>
{{/if}}



  {{#each flashMessages.queue as |flash|}}
    {{flash-message flash=flash}}
  {{/each}}

  <div class="col-md-8 col-md-offset-2">
    {{outlet}}
  </div>
