{{#if isAuthenticated}}
  <form class='enter-info-container' {{action 'save' on='submit'}}>
    <div class='row-one col-md-6'>
      <div class='piece-one'>
        <div class='instructions'>What's the Name?</div>
        <div class='input-field'> Current Title: {{festival.title}}
        {{input class='input-area title-input'
                required='true'
                placeholder='Enter Festival Name Here...'
                value=festival.title}}
        </div>
      </div>
      <div class='piece-two'>
        <div class='instructions'>Tell Us About it~~~</div>
        <div class='input-field'>Current Description: {{festival.description}}
        {{input class='input-area descr'
                placeholder='Enter Festival Description Here...'
                value=festival.description}}
        </div>
      </div><br>
    </div>
    <div class='row-two col-md-6'>
      <div class='piece-three'>
        <div class='instructions'>What Type of music is it? </div>
        <div class='input-field'>
        Current  Genre: {{festival.genre}}
        {{input placeholder='Enter Festival Genre Here...'
                class='input-area'
                value=festival.genre}}
        </div>
      </div>
      <div class='piece-four'>
        <div class='instructions'>Where's the event being held?</div>
        <div class='input-field'>
        Current  Location: {{festival.location}}
        {{input placeholder='An address, city, country, where ever works for us...'
                class='input-area loc'
                value=festival.location}}
        </div>
      </div><br>
    </div>
    <div class='row-three col-md-6'>
      <div class='piece-five'>
        <div class='instructions'>Who's hosting?
        </div>
        <div class='input-field'>
        Current Venue: {{festival.venue}}
        {{input placeholder='Where ever the event is is, somewhere is hosting...'
                class='input-area'
                value=festival.venue}}
        </div>
      </div>
      <div class='piece-six'>
        <div class='instructions'>Enter a Picture (URL) Below! </div>
        <div class='input-field'>
        Current Image URL: {{festival.url}}
        {{input placeholder='Enter Image URL Here... (only .jpg, .png, .gif)'
                required='true'
                class='input-area'
                value=festival.url}}
        </div>
      </div>
    </div><br>
    <div class='row-four col-md-6 final-row'>
      <div class='piece-seven'>
        <div class='instructions'>When is / was the event?</div>
        <div class='input-field'>
        Festival Date: {{festival.date}}
        {{input placeholder="mm/dd/yyyy"
                type='date'
                class='input-area'
                value=festival.date}}
        </div>
      </div>
      <div class='piece-eight'>
        <div class='instructions'>How much did this festival set you back in US Dollars?</div>
        <div class='input-field'>
        Festival Price: ${{festival.price}}
        {{input placeholder='Enter price here (Numbers only)...'
                type='number'
                class='input-area'
                value=festival.price}}
        </div>
      </div><br>
    </div><br>
    <div class='piece-nine'>
      <div class='comments-section'>
        <div class='instructions last-instr'>So, how was it? Is the event upcoming? Post about how excited you are to go! </div>
        <div class='input-field'>
        Current Comment on Festival: {{festival.comment}}
        {{input placeholder="Enter A Comment Here..."
                value=festival.comment
                class='input-area comment-input'}}
                <br>
                <button type='submit' class='btn btn-md submit-festival btn-primary'>Save Your Event To The List!</button>
                <button {{action 'cancel'}} class='btn btn-md cancel-submit-btn btn-danger'>Cancel</button>
        </div>
      </div>
    </div>
  </form>
{{else}}
  <div class='not-logged-in'>
    <h1>We're sorry - but if you'd like to upload a Festival you have to sign into an existing account or create an account to sign into.</h1>
    {{#link-to 'sign-in'}}
      <h2>Click Here to be redirected to the Sign-In Page</h2>
    {{/link-to}}

    {{#link-to 'sign-up'}}
      <h2>If you havent created a user profile yet you can click Here to be redirected to the Sign-up Page</h2>
    {{/link-to}}
  </div>
    {{/if}}
