{{#if isAuthenticated}}
  <form class='enter-info-container' {{action 'save' on='submit'}}>
    <div class='instructions'>What's the Name?</div>
    <div class='input-field'> Current Title: {{festival.title}}
    {{input class='input-area'
            required='true'
            placeholder='Enter Festival Name Here...'
            value=festival.title}}<br>
    </div>
    <div class='instructions'>Tell everyone alittle about the festival! Regardless of if its a description from their website, what you think the festival is all about, a word-for-word description from its site - we want to know!</div>
    <div class='input-field'>Current Description: {{festival.description}}
    {{input class='input-area'
            placeholder='Enter Festival Description Here...'
            value=festival.description}}<br>
    </div>
    <div class='instructions'>What Type of music is it? </div>
    <div class='input-field'>
    Current  Genre: {{festival.genre}}
    {{input placeholder='Enter Festival Genre Here...'
            class='input-area'
            value=festival.genre}}<br>
    </div>
    <div class='instructions'>Where's the event being held? 279 Tremont St, Boston, MA 02116? Some where in the London metro area? Belgium? Festival Fanatic doesn't care if you have specific address or a general area! </div>
    <div class='input-field'>
    Current  Location: {{festival.location}}
    {{input placeholder='Enter Festival Location Here...'
            class='input-area'
            value=festival.location}}<br>
    </div>
    <div class='instructions'>What's the venue? Your favorite club? A festival out in the desert? A party on the Moon? A rave in your friend's basement? An undisclosed location? Whereever it is, somewhere is hosting. </div>
    <div class='input-field'>
    Current Venue: {{festival.venue}}
    {{input placeholder='Enter Festival Venue Here...'
            class='input-area'
            value=festival.venue}}<br>
    </div>
    <div class='instructions'>Let's see a picture of what we're working with! Enter a valid image URL below to give your friends an idea of what you've seen! Note: Festival Fanatic only consumes valid URLs (.jpg, .png, .gif).</div>
    <div class='input-field'>
    Current Image URL: {{festival.url}}
    {{input placeholder='Enter Image URL Here...'
            required='true'
            class='input-area'
            value=festival.url
                              }}<br>

    </div>
    <div class='instructions'>When was the event? Is it upcoming? Select a day based on when you think it is! </div>
    <div class='input-field'>
    Festival Date: {{festival.date}}
    {{input placeholder='mm/dd/yyyy'
            type='date'
            class='input-area'
            value=festival.date}}<br>
    </div>
    <div class='instructions'>How much did this festival set you back in US Dollars? </div>
    <div class='input-field'>
    Festival Price: ${{festival.price}}
    {{input placeholder='Enter price here (Numbers only)...'
            type='number'
            class='input-area'
            value=festival.price}}<br>
    </div>
    <div class='instructions'>So, how was it? Let us know what you think of the event! Is the event upcoming? That's OK too! Post about how excited you are to go! Posting about intent to go makes meet-up's much easier! The the more the merrier! </div>
    <div class='input-field'>
    Current Comment on Festival: {{festival.comment}}
    {{input placeholder="Enter A Comment Here..."
            value=festival.comment
            class='input-area'}}
            <br>
            <button type='submit' class='btn btn-md submit-festival btn-primary'>Save Your Event To The List!</button>
            <button {{action 'cancel'}} class='btn btn-md cancel-submit-btn btn-danger'>Cancel</button>
    </div>
  </form>
{{else}}
  <div class='not-logged-in'>
    <h1>We're sorry - but if you'd like to upload a Festival you have to sign into an existing account or create an account to sign into.</h1>
    {{#link-to 'sign-in'}}
      <h2>Click Here to be redirected to the Sign-In Page</h2>
    {{/link-to}}

    {{#link-to 'sign-up'}}
      <h2>If you havent created a user profile yet you can click Here to be redirected to the Sign-up Page</h2>
    {{/link-to}}
  </div>
    {{/if}}
