<div class='genre-template country-background'>
  <div class='modal-btns'>
    <h1 class='modals-title'>Share Your Experience</h1><br>
    <div class='modal-container'>
      <h4 class='modal-filler-text'>Has This Event Already Happened?</h4>
      <a><button class='past-modal button-reveal2' style="vertical-align:middle" data-toggle='modal' data-target='#past-modal'><span>I Already Went</span></button></a>

      <a><button class='future-modal button-reveal' style="vertical-align:middle" data-toggle='modal' data-target='#future-modal'><span>It's Coming Up</span></button></a>

      {{!-- <div class="button">Click Dis</div> --}}

    </div>
      {{#link-to 'genre'}}
        <button class='button2'>Go Back</button>
      {{/link-to}}
  </div>

  <div class="modal fade" id="past-modal" tabindex="-1" role="dialog" aria-labelledby="past-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="past-modal-title"><strong>Tell <em>Everyone</em> About Your Experience!</strong></h4>
        </div>
        <div class="modal-body">
          <form class="past-form">
            <div class="form-group">
              <label class='modal-label'>What was is called?:</label>
              <div class='input-field'>
              {{input class='input-area title-input form-control'
                      required='true'
                      placeholder='Event name...'
                      value=festival.title}}
                      {{!-- <input type='text' class="form-control" placeholder="Event Name..."> --}}
              </div>
            </div>
            <div class="form-group">
              <label class='modal-label'>How'd you describe this show?</label>
              <div class='input-field'>
              {{input class='input-area'
                      placeholder='Enter a description here...'
                      value=festival.description}}
              </div>
            </div>
            <div class="form-group">
              <label class='modal-label'>Was it a specific type of EDM?</label>
              <div class='input-field'>
              {{input placeholder='Tropical, Hard-style, Dubstep, Chill, etc...'
                      class='input-area'
                      value=festival.genre}}
              </div>
            </div>
            <div class="form-group">
              <label class='modal-label'>Where did this go down?</label>
              <div class='input-field'>
              {{input placeholder='279 Tremont Street - Boston, Somewhere in upstate New York, Belgium...'
                      class='input-area loc'
                      value=festival.location}}
              </div>
            </div>
            <div class="form-group">
              <label class='modal-label'>Who hosted?</label>
              <div class='input-field'>
              {{input placeholder='Where ever it was is, somewhere was hosting...'
                      class='input-area'
                      value=festival.venue}}
              </div>
            </div>
            <div class="form-group">
              <label class='modal-label'>Let's see a picture!</label>
              <div class='input-field'>
              {{input placeholder='Enter valid image URL here... (only .jpg, .png, .gif are accepted)'
                      required='true'
                      class='input-area'
                      value=festival.url}}
              </div>
            </div>
            <div class="form-group">
              <label class='modal-label'>Any idea of when it was?</label>
              <div class='input-field'>
              {{input placeholder="mm/dd/yyyy"
                      type='date'
                      class='input-area'
                      value=festival.date}}
              </div>
            </div>
            <div class="form-group">
              <label class='modal-label'>How much did tickets set you back?<br>(In U.S. Dollars)</label>
              <div class='input-field'>
              {{input placeholder='Enter price here (Numbers only)...'
                      type='number'
                      class='input-area'
                      value=festival.price}}
              </div>
            </div>
            <div class="form-group">
              <label class='modal-label'>Tell us what you thought! </label>
              <div class='input-field'>
                {{input placeholder="Would you go again? Have you been since? Would you recommend it to friends? Tell us all about it!"
                        value=festival.comment
                        class='input-area comment-input'}}<br>

                <button type='submit' class='dope-button-square'>Save Your Event To The List!</button>
                <button {{action 'cancel'}} class='dope-button-square-redo' data-dismiss="modal">Cancel</button>
              </div>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="future-modal" tabindex="-1" role="dialog" aria-labelledby="future-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="future-modal-title"><strong>Counting Down the Days Until This Event? Get <em>Everyone</em> As Excited As You Are!</strong></h4>
        </div>
        <div class="modal-body">
          <form class="future-form">
            <div class="form-group">
              <label class='modal-label'>What was is called?:</label>
              <div class='input-field'>
              {{input class='input-area title-input form-control'
                      required='true'
                      placeholder='Event name...'
                      value=festival.title}}
                      {{!-- <input type='text' class="form-control" placeholder="Event Name..."> --}}
              </div>
            </div>
            <div class="form-group">
              <label class='modal-label'>How'd you describe this show?</label>
              <div class='input-field'>
              {{input class='input-area descr'
                      placeholder='Enter a description here...'
                      value=festival.description}}
              </div>
            </div>
            <div class="form-group">
              <label class='modal-label'>Was it a specific type of EDM?</label>
              <div class='input-field'>
              {{input placeholder='Tropical, Hard-style, Dubstep, Chill, etc...'
                      class='input-area'
                      value=festival.genre}}
              </div>
            </div>
            <div class="form-group">
              <label class='modal-label'>Where did this go down?</label>
              <div class='input-field'>
              {{input placeholder='279 Tremont Street - Boston, Somewhere in upstate New York, Belgium...'
                      class='input-area loc'
                      value=festival.location}}
              </div>
            </div>
            <div class="form-group">
              <label class='modal-label'>Who hosted?</label>
              <div class='input-field'>
              {{input placeholder='Where ever it was is, somewhere was hosting...'
                      class='input-area'
                      value=festival.venue}}
              </div>
            </div>
            <div class="form-group">
              <label class='modal-label'>Let's see a picture!</label>
              <div class='input-field'>
              {{input placeholder='Enter valid image URL here... (only .jpg, .png, .gif are accepted)'
                      required='true'
                      class='input-area'
                      value=festival.url}}
              </div>
            </div>
            <div class="form-group">
              <label class='modal-label'>Any idea of when it was?</label>
              <div class='input-field'>
              {{input placeholder="mm/dd/yyyy"
                      type='date'
                      class='input-area'
                      value=festival.date}}
              </div>
            </div>
            <div class="form-group">
              <label class='modal-label'>How much did tickets set you back?<br>(In U.S. Dollars)</label>
              <div class='input-field'>
              {{input placeholder='Enter price here (Numbers only)...'
                      type='number'
                      class='input-area'
                      value=festival.price}}
              </div>
            </div>
            <div class="form-group">
              <label class='modal-label'>Tell us what you thought! </label>
              <div class='input-field'>
                {{input placeholder="Would you go again? Have you been since? Would you recommend it to friends? Tell us all about it!"
                        value=festival.comment
                        class='input-area comment-input'}}<br>

                <button type='submit' class='btn btn-md submit-festival btn-primary'>Save Your Event To The List!</button>
                <button {{action 'cancel'}} class='btn btn-md cancel-submit-btn btn-danger' data-dismiss="modal">Cancel</button>
              </div>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
